@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lato:wght@300&family=Oswald:wght@300&family=Tiro+Telugu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asap;
    font-weight: 300;
    
}

.logo {
    height: 200px;
    width: 100%;
    
    
    
}

  

#logo-name{
    font-family: Asap, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}
h2 {
    font-family: Oswald, sans-serif;
    text-align: center;
}

p {
    font-family: Tiro+Telugu, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 10px 0 0 10px;
}
#menu {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 150%;
}

li {
    display: inline-block;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}



