@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asap;
    font-weight: 300;
}

.logo {
    background-image: url(./images/carbon-fiber-shelby-mustang-1600685276.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 0 40px 0;  
    display: flex; 
}

.logo-name {
    font-size: 200px;
    position: relative;
    display: ;
}

